* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ddd;
}
.main-div {
    width: 1100px;
    margin: auto;
}
img {
    max-width: 100%;
}
.main-div .header-top h1 {
    text-align: center;
    padding: 20px 20px;
    margin: 50px 0px;
    display: inline-block;
    margin: auto;
    background-color: #badc58;
}

.header-top {
    text-align: center;
    margin-bottom: 50px;
}

/* About */
.about {
    text-align: center;
    margin-bottom: 50px;
}
.about h1 {
    text-align: center;
    padding: 20px 20px;
    margin: 50px 0px;
    margin-top: 20px;
    display: inline-block;
    margin: auto;
    background-color: #badc58;
}
hr {
    margin-bottom: 20px;
}